@charset "utf-8";

/* CSS Document */

body {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-body-color: #343434;
    --bs-body-line-height: 1.42857143rem;
}

img {
    width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul{
    list-style: none;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-toggler{
    border: none;
    border-radius: 0;
    font-size: 0.875rem;
}

.hero{
    
}

.section {
    padding: 6.25rem 0;
}

.section-head {

}

.section-content {
    
}


/* ******** Media Query *************/
@media (min-width:576px) {

    
}

@media (min-width: 768px) {

    
}

@media (min-width: 992px) {
    
}

