/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @auther: Islam Gohar */
/* ============ typed css ================= */


.typed-wrapper{
    display: inline-block;
    text-align: left;
    overflow: hidden;
    position: relative;
    width: 0;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    vertical-align: top;
    -webkit-animation-name: typed;
            animation-name: typed;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    padding-right: 10px;
}

.typed-text{
    display: inline-block;
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    z-index: -1;
}

.typed-wrapper::after{
    content: "";
    position: absolute;
    background-color: #aebcb9;
    width: 2px;
    height: 90%;
    right: 0;
    bottom: 10%;
}